@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: #f2e8cf;
  font-weight: 400;
  overflow-x: hidden;
}

.heading {
  font-weight: 700;
}
.cube-container {
  perspective: 1000px;
  width: 200px;
  height: 200px;
}

.cube-container {
  perspective: 1000px;
  width: 220px;
  height: 220px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(251, 43, 143, 0.35),
    rgba(255, 110, 196, 0.1)
  );
  border: 1px solid rgba(255, 110, 196, 0.5);
  box-shadow: 0 0 25px rgba(251, 43, 143, 0.25);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

/* Cube faces positions */
.front {
  transform: translateZ(110px);
}
.back {
  transform: rotateY(180deg) translateZ(110px);
}
.right {
  transform: rotateY(90deg) translateZ(110px);
}
.left {
  transform: rotateY(-90deg) translateZ(110px);
}
.top {
  transform: rotateX(90deg) translateZ(110px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(110px);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
