@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: #f2e8cf;
  font-weight: 400;
}

.heading {
  font-weight: 700;
}
